@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spotify-green: #1db954;
  --spotify-green-light: #1ed760;
  --spotify-black: #191414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
